body {
    background-color: #eaeaea;
}

.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

.header {
    margin:0px -15px;
    padding:5px 15px;
    box-shadow: 0px 3px 3px #ccc;
    border-bottom:1px solid #ddd;
    background: #fff;
}

#panel-wrapper {
    height:100%;
}

#alert-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-left: -15px;
    top: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.panel {
    padding: 25px;
}

.user-panel .form-control{
    margin:8px 0px;
}

#panel-wrapper {
    position: relative;
    margin:25px 0px;
}

.panel {
    position: absolute;
    top:0px;
    transition:0.5s linear all;
    opacity:0;
}

.active {
    opacity: 1;
}

.hidden {
    /*display: none;*/
}

.navigation {
    padding:15px 0px;
}

.navigation > div:first-child {
    padding-left:0px;
}

.navigation > div:last-child {
    padding-right:0px;
}

.navigation .next {
    float:right;
}

.navigation .prev {
    float:left;
}



.attribute, .question {
    padding:25px 0px;
    border-bottom:1px solid #bbb;
}

.attribute:last-child, .question {
    border-bottom:0px;
}

.checkbox {
    margin: 5px !important;
    border: 2px solid #444;
    border-radius: 3px;
    padding: 8px;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(238,238,238,1);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(238,238,238,1);
    box-shadow: inset 0px 0px 2px 1px rgba(238,238,238,1);
}

.checkbox:hover {
    background-color: #bcbcbc;
}

.checkbox.active:hover {
    background-color: #c61f1f;
}

.checkbox.active {
    background-color: #c61f1f;
   -webkit-box-shadow: inset 0px 0px 2px 1px rgba(238,238,238,1);
   -moz-box-shadow: inset 0px 0px 2px 1px rgba(238,238,238,1);
   box-shadow: inset 0px 0px 2px 1px rgba(238,238,238,1);
}

.likert div {
 text-align: center;
 padding:0px;
}

.center-block {
    float:none;
}

.likert > div:first-child, .boolean > div:first-child {
    text-align: right;
}
.likert > div:last-child, .boolean > div:last-child {
    text-align: left;
}

.comment textarea {
    width: 100%;
    padding: 15px 10px 5px 10px;
    border:none;
    border-bottom:1px solid #ccc;
    border-radius:3px;
    font-size:1.1em;
    background-color: #f9f9f9;
}

.comment textarea:focus {
    /*border:none;*/
    background-color: #f3f3f3;
    outline: none !important;
}

.comment textarea:hover {
    border:1px solid #bdbdbd;
    padding: 14px 9px 5px 9px;
    background-color: #f4f4f4;
    outline: none !important;
}

.screenshotUpload {
    padding:5px 0px;
    /*float:left;*/
}

.lightbox-modal .modal-content {
    border:0px;
    box-shadow: none;
    background-color: transparent;
}

.lightbox-modal .modal-body {
    padding:0px;
}

.screenshots .img-thumbnail {
    padding:0px;
}

.screenshots .img-thumbnail:hover {
    border:1px solid #bbb;
}

.progress {
    margin-top:5px;
}

.red {
    color:red;
}