/*ADMIN_RP_CSS*/

#assessment_table_wrapper {
    max-height: 600px;
    overflow-y:auto;
    overflow-x:auto;
}

.lightbox-modal .modal-content {
    border:0px;
    box-shadow: none;
    background-color: transparent;
}

.lightbox-modal .modal-body {
    padding:0px;
}

 .img-thumbnail {
    padding:0px;
}

 .img-thumbnail:hover {
    border:1px solid #bbb;
}

nav .disabled {
  cursor: not-allowed;
  pointer-events: none;
  /*color: grey;*/
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }