/*ADMIN_RP_CSS*/

#assessment_table_wrapper {
    max-height: 600px;
    overflow-y:auto;
    overflow-x:auto;
}

.lightbox-modal .modal-content {
    border:0px;
    box-shadow: none;
    background-color: transparent;
}

.lightbox-modal .modal-body {
    padding:0px;
}

 .img-thumbnail {
    padding:0px;
}

 .img-thumbnail:hover {
    border:1px solid #bbb;
}

nav .disabled {
  cursor: not-allowed;
  pointer-events: none;
  /*color: grey;*/
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

teds-pivot-table .rating {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    margin:5px 10px;
}

.w10 {
    width: 100%;
}

.teds-grid {
    /*width:95%;*/
}

.menu {
    padding:10px 15px;
    margin:10px 0px;
    border-bottom: 1px solid #dfdfdf;
}

.admin-loader {
    font-size: 8em;
}

.project > teds-dropdown {
    border-bottom: 1px solid #dfdfdf;
    padding:0px;
}

.project > teds-dropdown > .collapsable{
    padding:10px 15px;
}

.project > teds-dropdown > .section-header {
    padding:5px 15px;
    transition: background-color .3s linear;
}

.project > teds-dropdown > .open {
    background-color: #fafafa;
    /*margin:5px 0px;*/
    /*padding: 0px 15px;*/
    border-bottom: 1px solid #dfdfdf;
    border-radius: 4px 4px 0px 0px;
}

.project-info {
    padding:3em;
}