/*ADMIN_RP_CSS*/

#assessment_table_wrapper {
    max-height: 600px;
    overflow-y:auto;
    overflow-x:auto;
}

.lightbox-modal .modal-content {
    border:0px;
    box-shadow: none;
    background-color: transparent;
}

.lightbox-modal .modal-body {
    padding:0px;
}

 .img-thumbnail {
    padding:0px;
}

 .img-thumbnail:hover {
    border:1px solid #bbb;
}