<div id="page-wrapper" class="configurator">
    <div id="alert-wrapper">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
   <div ng-repeat="(projectKey, project) in projects" class="row clearfix project">
       <div class="section-header clearfix clickable" ng-click="project.collapsed = !project.collapsed">
           <h3 class="pull-left">
               <span><i class="fa fa-angle-right rotate" ng-class="{quarter: !project.collapsed}"></i></span>
               {{project.projectName}}
           </h3>
           <h5 class="pull-left">Assessments: {{project.assessments.length}}</h5>
           <h5 class="pull-left">Completion Rate: {{project.assessments.length ? (project.completedAssessments.length /project.assessments.length * 100 |number:1) + '%'  : 'No Assessments'}}</h5>
       </div>
       <div class="collapsable clearfix" uib-collapse="project.collapsed">
           <!-- <h5>Inner</h5> -->
           <div class="artifacts container col-xs-12 clearfix">
               <div class="section-header clearfix clickable" ng-click="project.artifactsCollapsed = !project.artifactsCollapsed">
                   <h4 class="pull-left" ng-class="{'disabled': {{project.artifacts.length == 0}}}" >
                   <span><i class="fa fa-angle-right rotate" ng-class="{quarter: !project.artifactsCollapsed}"></i></span>
                   Artifacts
               </h4>
               <h5 class="pull-left">Count: {{project.artifacts.length}}</h5>
               </div>
               <div class="collapsable clearfix" uib-collapse="project.artifactsCollapsed">
                   <div ng-repeat="(artifactKey, artifact) in project.artifacts" class="clearfix col-xs-6 artifact project-item">
                       <h5 class="name"><a ng-href="{{artifact.artifactURL}}" target="_blank">{{artifact.artifactName}}</a></h5>
                       <h6 class="desc">{{artifact.artifactDescription}}</h6>
                   </div>
                   <div class="menu col-xs-12 clearfix">
                       <span class="btn btn-primary" ng-click="modals.open('artifact', project, $index)"><i class="fa fa-plus"></i> Add a Artifact</span>
                   </div>
               </div>
           </div>

           <div class="scenarios container col-xs-12 clearfix">
               <div class="section-header clearfix clickable" ng-click="project.scenariosCollapsed = !project.scenariosCollapsed">
                   <h4 class="pull-left" ng-class="{'disabled': {{project.scenarios.length == 0}}}" >
                       <span><i class="fa fa-angle-right rotate" ng-class="{quarter: !project.scenariosCollapsed}"></i></span>
                       Scenarios
                   </h4>
                   <h5 class="pull-left">Count: {{project.scenarios.length}}</h5>
               </div>
               <div class="collapsable clearfix" uib-collapse="project.scenariosCollapsed">
                   <div ng-repeat="(scenarioKey, scenario) in project.scenarios" class="clearfix col-xs-6 scenario project-item">
                       <h5 class="name">{{scenario.scenarioName}}</h5>
                       <h6 class="desc">{{scenario.scenarioDescription}}</h6>
                   </div>
                   <div class="menu col-xs-12 clearfix">
                       <span class="btn btn-primary" ng-click="modals.open('scenario', project, $index)"><i class="fa fa-plus"></i> Add a Scenario</span>
                   </div>
               </div>
           </div>

           <div class="personas container col-xs-12 clearfix">
               <div class="section-header clearfix clickable" ng-click="project.personasCollapsed = !project.personasCollapsed">
                   <h4 class="pull-left" ng-class="{'disabled': {{project.personas.length == 0}}}" >
                       <span><i class="fa fa-angle-right rotate" ng-class="{quarter: !project.personasCollapsed}"></i></span>
                       Personas
                   </h4>
                   <h5 class="pull-left">Count: {{project.personas.length}}</h5>
               </div>
               <div class="collapsable clearfix" uib-collapse="project.personasCollapsed">
                   <div ng-repeat="(personaKey, persona) in project.personas" class="clearfix col-xs-6 persona project-item">
                       <h5 class="name">{{persona.personaName}}</h5>
                       <h6 class="desc">{{persona.personaDesc}}</h6>
                   </div>
                   <div class="menu col-xs-12 clearfix">
                       <span class="btn btn-primary" ng-click="modals.open('persona', project, $index)"><i class="fa fa-plus"></i> Add a Persona</span>
                   </div>
               </div>
           </div>

           <div class="roles container col-xs-12 clearfix">
               <div class="section-header clearfix clickable" ng-click="project.rolesCollapsed = !project.rolesCollapsed">
                   <h4 class="pull-left" ng-class="{'disabled': {{project.roles.length == 0}}}" >
                       <span><i class="fa fa-angle-right rotate" ng-class="{quarter: !project.rolesCollapsed}"></i></span>
                       Roles
                   </h4>
                   <h5 class="pull-left">Count: {{project.roles.length}}</h5>
               </div>
               <div class="collapsable clearfix" uib-collapse="project.rolesCollapsed">
                   <div ng-repeat="(roleKey, role) in project.roles" class="clearfix col-xs-6 role project-item">
                       <h5 class="name">{{role.roleName}}</h5>
                       <h6 class="desc">{{role.roleDesc}}</h6>
                   </div>
                   <div class="menu col-xs-12 clearfix">
                       <span class="btn btn-primary" ng-click="modals.open('role', project, $index)"><i class="fa fa-plus"></i> Add a Role</span>
                   </div>
               </div>
           </div>

           <div class="assessments container col-xs-12 clearfix">
               <div class="section-header clearfix clickable" ng-click="project.assessmentsCollapsed = !project.assessmentsCollapsed">
                   <h4 class="pull-left" ng-class="{'disabled': {{project.assessments.length == 0}}}" >
                       <span><i class="fa fa-angle-right rotate" ng-class="{quarter: !project.assessmentsCollapsed}"></i></span>
                       Assessments
                   </h4>
                   <h5 class="pull-left">Count: {{project.assessments.length}}</h5>
               </div>
               <div class="collapsable clearfix" uib-collapse="project.assessmentsCollapsed">
                    <div class="assessment col-xs-12" ng-if="project.targetAssessment">
                      <h4>Assessment {{project.targetAssessment.assessmentID}}</h4>
                      <a class="btn btn-primary" ng-click="unsetTargetAssessment(project)">Back</a>
                      <div class="responses" ng-if="project.targetAssessment.responses.length > 0">
                        <h5>Responses</h5>
                        <dl>
                          <div class="response col-xs-6 col-md-6 col-lg-4" ng-repeat="response in project.targetAssessment.responses">
                            <dt>{{response.questionName}}</dt>
                            <dd>{{response.responseAnswer}}</dd>
                          </div>
                        </dl>
                      </div>
                      <div class="ratings" ng-if="project.targetAssessment.ratings.length > 0">
                        <h5>Ratings</h5>
                        <dl>
                          <div class="rating col-xs-6 col-md-6 col-lg-4" ng-repeat="rating in project.targetAssessment.ratings">
                            <dt>{{rating.attributeName}}</dt>
                            <dd>{{rating.ratingValue}}</dd>
                          </div>
                        </dl>
                      </div>
                    </div>
                   <div id=""class="col-xs-12">
                       <table ng-show="project.assessments" class="table table-bordered table-hover">
                           <thead>
                               <tr>
                                   <th>
                                       Project
                                   </th>
                                   <th>
                                       Artifact
                                       <select class="form-control pull-left" name="artifact" ng-model="assessmentOptions.artifactName" id="">
                                           <option value=""></option>
                                           <option ng-repeat="option in project.assessmentFilters.artifacts" value="{{option}}">{{option}}</option>
                                       </select>
                                   </th>
                                   <th>
                                       Persona
                                       <select class="form-control pull-left" name="persona" ng-model="assessmentOptions.personaName" id="">
                                           <option value=""></option>
                                           <option ng-repeat="option in project.assessmentFilters.personas" value="{{option}}">{{option}}</option>
                                       </select>
                                   </th>
                                   <th>
                                       Role
                                       <select class="form-control pull-left" name="role" ng-model="assessmentOptions.roleName" id="">
                                           <option value=""></option>
                                           <option ng-repeat="option in project.assessmentFilters.roles" value="{{option}}">{{option}}</option>
                                       </select>
                                   </th>
                                   <th>
                                       Scenario
                                       <select class="form-control pull-left" name="scenario" ng-model="assessmentOptions.scenarioName" id="">
                                           <option value=""></option>
                                           <option ng-repeat="option in project.assessmentFilters.scenarios" value="{{option}}">{{option}}</option>
                                       </select>
                                   </th>
                                   <th>
                                       User
                                       <select class="form-control pull-left" name="name" ng-model="assessmentOptions.email" id="">
                                           <option value=""></option>
                                           <option ng-repeat="option in project.assessmentFilters.users" value="{{option}}">{{option}}</option>
                                       </select>
                                   </th>
                                   <th>
                                       Configuration
                                       <select class="form-control pull-left" name="config" ng-model="assessmentOptions.attributeConfigurationName" id="">
                                           <option value=""></option>
                                           <option ng-repeat="option in project.assessmentFilters.configurations" value="{{option}}">{{option}}</option>
                                       </select>
                                   </th>
                                   <th>
                                       Status
                                       <select class="form-control pull-left" name="completion" ng-model="assessmentOptions.completion" id="">
                                           <option value=""></option>
                                           <option value="true">Complete</option>
                                           <option value="false">Incomplete</option>
                                       </select>
                                   </th>
                                   <th>Last Edited</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr class="clickable" ng-repeat="assessment in project.assessments | filter:assessmentOptions" ng-click="setTargetAssessment(project, assessment)">
                                   <td>{{assessment.projectName}}</td>
                                   <td>{{assessment.artifactName}}</td>
                                   <td>{{assessment.personaName}}</td>
                                   <td>{{assessment.roleName}}</td>
                                   <td>{{assessment.scenarioName}}</td>
                                   <td>{{assessment.email}}</td>
                                   <td>{{assessment.attributeConfigurationName}}</td>
                                   <td>
                                       <div ng-if="assessment.completionDate !== null">
                                           Completed on {{assessment.completionDate}}
                                       </div>
                                       <div ng-if="assessment.completionDate == null">
                                           Issued on {{assessment.issuanceDate}}
                                       </div>
                                   </td>
                                   <td>{{assessment.lastEditDate}}</td>
                               </tr>
                           </tbody>
                       </table>
               </div>
           </div>
       </div>
   </div>
</div>